section {
    margin: 0 100px;
    display: flex;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    /*margin: 0 100px;
    display: flex;*/
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.photograph-info-text {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#js-photograph-name {
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
    line-height: 83px;
    margin: 0;
}

#js-photograph-location {
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
    margin: 4px 0 15px 0;
}

#js-photograph-tagline {
    font-size: 18px;
    font-weight: 400;
    color: #525252;
    line-height: 24px;
}

#js-photograph-picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}



.medias-sort {
    margin-top: 40px;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

.medias-sort span {
    line-height: 23px;
    margin-right: 15px;
    font-weight: 700;
    font-size: 18px;
}

.medias-sort .sortbtn {
    font-family: "DM Sans", sans-serif;
    background-color: #901C1C;
    color: #FFF;
    padding: 16px;
    width: 170px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .medias-sort .sortbtn span, .medias-sort .sortbtn img {
    pointer-events: none;
  }

  .medias-sort .sorter {
    position: relative;
    display: inline-block;
  }
  
  .medias-sort .sort-content {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    background-color: #901C1C;
    width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    margin: 0;
  }
  
  .medias-sort .sort-content li {
    color: #FFF;
    padding: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .medias-sort .sort-content img {
    transform: rotate(180deg);
  }

  .medias-sort .sort-content hr {
    width: 90%;
    margin: 0 auto;
  }
  
  .medias-sort .sort-content li:hover {
      background-color: #901C1C;
      border-radius: 5px;
  }
  
  /*.medias-sort .sorter:hover .sort-content {
    display: block;
  }*/
  .medias-sort .sort-content.open {
    display: block;
  }
  .medias-sort .sorter:hover .sortbtn {
    background-color: #901C1C;
  }

/***************************************/

.galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.galery article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29%;
    margin: 10px 0;
}
.galery a {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.galery figure {
    height: 300px;
    margin: 0;
    pointer-events: none;
}
.galery img, .galery video{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.galery article footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #901C1C;
    margin: 13px 0;
}
.galery article footer h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}
.galery .likes {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 24px;
}
.galery .likes img {
    margin-left: 5px;
}

/***************************************/

.contact_button, .modal-contact-btn {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.contact_button:hover, .contact_button:focus,
.modal-contact-btn:hover, .modal-contact-btn:focus {
    background-color: #DB8876;
    color: #000;
}
.modal-contact-with-overlay {
    display: none;
}
.modal-contact-with-overlay.open {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.modal-contact-overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
    cursor: pointer;
}
.modal-contact-body {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto;
    overflow: hidden;
    position: relative;
    padding-top: 15px;
    cursor: auto;
    pointer-events: visible;
}

.modal-contact-body header {
    justify-content: space-between;
    width: 100%;
}

.modal-contact-body header figure {
    margin: 0;
}

.modal-contact-body header img {
    cursor: pointer;
    position: absolute;
    right: 35px;
    top: 35px;
    width: 42px;
}

.modal-contact-body header h2, .modal-contact-body span {
    font-size: 64px;
    font-weight: 400;
    text-align: left;
    line-height: 83px;
    margin: 0 auto;
}

.modal-contact-body header .js-form-confirmation {
    display: none;
}

.modal-contact-body form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 19px;
}

.modal-contact-body form label {
    color: #312E2E;
    font-size: 36px;
    margin-bottom: 5px;
}

.modal-contact-body form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.modal-contact-body form input, .modal-contact-body form textarea {
    width: 100%;
    max-width: -webkit-fill-available;
    height: 68px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 0;
    font-size : 36px;
    padding-left: 8px;
}

.modal-contact-body form textarea {
    height: 170px;
}

.modal-contact-body .modal-contact-btn {
    font-size: 18px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1em;
    color: #FFF;
    display: none;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 1.1;
    opacity: 0;
    transition: 0.3s;
}
.formData[data-visible="true"]::after {
    opacity: 1;
    display: block;
}
.formData[data-visible="true"] .text-control {
    border: 2px solid #e54858;
}

.footer-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    min-width: 300px;
    bottom: -3px;
    right: 20px;
    background-color: #DB8876;
    border-radius: 5px;
    color: #000;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 10px;
}


/* Modal Slider /*

// SLIDER CSS

/* The Modal (background) */
.modal-slider-with-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 2%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #FFFFFF;
  }
  .modal-slider-with-overlay.open {
    display: block;
  }
  
  /* Modal Content */
  .modal-slider-content {
    position: relative;
    background-color: #FFFFFF;
    margin: auto;
    padding: 0;
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: flex-start;
    justify-content: center;
  }
  
  /* The Close Button */
  .js-modal-slider-close {
    position: absolute;
    top: 40px;
    right: -74px;
    width: 40px
  }
  
  .js-modal-slider-close:hover,
  .js-modal-slider-close:focus {
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    display: none;
    width: 100%;
  }
  .mySlides img, .mySlides video {
      object-fit: cover;
      width: 100%;
      height: 100%;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: -20%;
  }

  .prev {
      left: -20%;
  }

  .prev img {
      transform: rotate(180deg);
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Caption text */
  .slider-title-container {
    text-align: left;
    color: #901C1C;
    font-size: 1.5em;
    padding-top: 1%;
  }
  
  .active {
    display: flex;
    opacity: 1;
  }